---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="container">
    <h2 class="center">List of available products</h2>
    <div class="row">
      {% for product in site.products %}
      <div class="col s12 m6 l4">
        <div class="card blue-grey lighten-2">
          <div class="card-content white-text">
            <span class="card-title">{{ product.title }}</span>
            <p>{{ product.description }}</p>
          </div>
          <div class="card-action"><a class="black-text" href="{{ product.url | relative_url }}">Go to product</a></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>