html {
    background-color: color("grey", "lighten-2");
}

.header-box {
    background-color: color("grey", "lighten-1");
    border-radius: 5px;
    @extend .z-depth-1;
}

.body-box {
    padding: {
        left: 10px;
        right: 10px;
        top: 1px;
        bottom: 1px;
    }
    margin: {
        top: 6px;
        bottom: 6px;
    }
    background-color: color("blue-grey", "lighten-5");
    border-radius: 5px;
    @extend .z-depth-1;
}

.header-garant {
    color: rgba(131, 0, 0, 0.87);
}

@for $i from 1 through 4 {
    h#{$i} {
        color: map-get($color-headers, #{&});
    }
}