---
layout: default
title: 'Products'
---

<div class="container">
    <h1 class="center">Products</h2>
    <div class="row">
        <div class="col s12 m2 l2">
            <div class="collection">
                {% for product in site.products %}
                <a href="{{ product.url | relative_url }}" class="collection-item blue-grey-text">{{ product.title }}</li>
                {% endfor %}
            </div>
        </div>
        <div class="col s12 m10 l10">
            {% for product in site.products %}
            <div class="col s12 m6 l4">
                <div class="card blue-grey lighten-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{ product.title }}</span>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="card-action"><a class="black-text" href="{{ product.url | relative_url }}">Go to
                            product</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>